#message {
  border-radius: 8px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.correct {
  animation: pop 0.6s ease forwards;
  background-color: lightgreen;
  padding: 10px;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
